Validus.Console/Validus.Console/Service References/PolicyDataService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PolicyServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcpBindingEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPolicyService_GetPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicies" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPoliciesResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicyBPC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyBPC" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPolicyBPC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyBPCResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetAggregates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAggregates" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetAggregates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAggregatesResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetAnlyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnlyInfo" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetAnlyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnlyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetClaims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaims" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetClaims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetConstruction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConstruction" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetConstruction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConstructionResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetDeductions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeductions" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetDeductions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeductionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetGroupedPolicies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupedPolicies" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetGroupedPolicies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupedPoliciesResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetInsureds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsureds" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetInsureds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuredsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetLimits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLimits" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetLimits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLimitsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetMonitors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonitors" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetMonitors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonitorsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetNotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotes" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetNotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotesResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPremium_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPremium" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetPremium_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPremiumResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetReInsurance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReInsurance" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetReInsurance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReInsuranceResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetRenewalInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRenewalInformation" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetRenewalInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRenewalInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetRevisions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRevisions" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetRevisions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRevisionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistics" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetUSMs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUSMs" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetUSMs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUSMsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetVessels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVessels" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetVessels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVesselsResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetOldWorkflowHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOldWorkflowHistory" />
  </wsdl:message>
  <wsdl:message name="IPolicyService_GetOldWorkflowHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOldWorkflowHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IPolicyService">
    <wsdl:operation name="GetPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPolicy" message="tns:IPolicyService_GetPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyResponse" message="tns:IPolicyService_GetPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPolicies" message="tns:IPolicyService_GetPolicies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPoliciesResponse" message="tns:IPolicyService_GetPolicies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyBPC">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyBPC" message="tns:IPolicyService_GetPolicyBPC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPolicyBPCResponse" message="tns:IPolicyService_GetPolicyBPC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAggregates">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetAggregates" message="tns:IPolicyService_GetAggregates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetAggregatesResponse" message="tns:IPolicyService_GetAggregates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnlyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetAnlyInfo" message="tns:IPolicyService_GetAnlyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetAnlyInfoResponse" message="tns:IPolicyService_GetAnlyInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaims">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetClaims" message="tns:IPolicyService_GetClaims_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetClaimsResponse" message="tns:IPolicyService_GetClaims_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConstruction">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetConstruction" message="tns:IPolicyService_GetConstruction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetConstructionResponse" message="tns:IPolicyService_GetConstruction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeductions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetDeductions" message="tns:IPolicyService_GetDeductions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetDeductionsResponse" message="tns:IPolicyService_GetDeductions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupedPolicies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetGroupedPolicies" message="tns:IPolicyService_GetGroupedPolicies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetGroupedPoliciesResponse" message="tns:IPolicyService_GetGroupedPolicies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetHistory" message="tns:IPolicyService_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetHistoryResponse" message="tns:IPolicyService_GetHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsureds">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetInsureds" message="tns:IPolicyService_GetInsureds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetInsuredsResponse" message="tns:IPolicyService_GetInsureds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLimits">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetLimits" message="tns:IPolicyService_GetLimits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetLimitsResponse" message="tns:IPolicyService_GetLimits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMonitors">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetMonitors" message="tns:IPolicyService_GetMonitors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetMonitorsResponse" message="tns:IPolicyService_GetMonitors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetNotes" message="tns:IPolicyService_GetNotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetNotesResponse" message="tns:IPolicyService_GetNotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPremium">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetPremium" message="tns:IPolicyService_GetPremium_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetPremiumResponse" message="tns:IPolicyService_GetPremium_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReInsurance">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetReInsurance" message="tns:IPolicyService_GetReInsurance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetReInsuranceResponse" message="tns:IPolicyService_GetReInsurance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRenewalInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetRenewalInformation" message="tns:IPolicyService_GetRenewalInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetRenewalInformationResponse" message="tns:IPolicyService_GetRenewalInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRevisions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetRevisions" message="tns:IPolicyService_GetRevisions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetRevisionsResponse" message="tns:IPolicyService_GetRevisions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetStatistics" message="tns:IPolicyService_GetStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetStatisticsResponse" message="tns:IPolicyService_GetStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUSMs">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetUSMs" message="tns:IPolicyService_GetUSMs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetUSMsResponse" message="tns:IPolicyService_GetUSMs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVessels">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetVessels" message="tns:IPolicyService_GetVessels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetVesselsResponse" message="tns:IPolicyService_GetVessels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOldWorkflowHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyService/GetOldWorkflowHistory" message="tns:IPolicyService_GetOldWorkflowHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyService/GetOldWorkflowHistoryResponse" message="tns:IPolicyService_GetOldWorkflowHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="netTcpBindingEndpoint" type="tns:IPolicyService">
    <wsp:PolicyReference URI="#netTcpBindingEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetPolicy">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetPolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicies">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetPolicies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyBPC">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetPolicyBPC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAggregates">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetAggregates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnlyInfo">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetAnlyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaims">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetClaims" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConstruction">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetConstruction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeductions">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetDeductions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupedPolicies">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetGroupedPolicies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsureds">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetInsureds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLimits">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetLimits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonitors">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetMonitors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotes">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetNotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPremium">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetPremium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReInsurance">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetReInsurance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRenewalInformation">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetRenewalInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevisions">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetRevisions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSMs">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetUSMs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVessels">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetVessels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOldWorkflowHistory">
      <soap12:operation soapAction="http://tempuri.org/IPolicyService/GetOldWorkflowHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyServiceImpl">
    <wsdl:port name="netTcpBindingEndpoint" binding="tns:netTcpBindingEndpoint">
      <soap12:address location="net.tcp://webservices.talbotdev.com:6868/WCF/PolicyService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://webservices.talbotdev.com:6868/WCF/PolicyService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>HOST/VALIDUSWCF</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>