Validus.Console/Validus.Console/Service References/PolicyDataService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" />
  <xs:element name="GetPolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetPolicyResult" nillable="true" type="q1:Policy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="searchDetails" nillable="true" type="q2:PolicySearchDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetPoliciesResult" nillable="true" type="q3:ArrayOfPolicySearchDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyBPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyBPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetPolicyBPCResult" nillable="true" type="q4:BusinessPlanCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAggregates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAggregatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetAggregatesResult" nillable="true" type="q5:ArrayOfAggregate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnlyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnlyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetAnlyInfoResult" nillable="true" type="q6:ArrayOfAnlyCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetClaimsResult" nillable="true" type="q7:ArrayOfClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConstruction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConstructionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetConstructionResult" nillable="true" type="q8:Construction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeductionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetDeductionsResult" nillable="true" type="q9:ArrayOfDeduction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupedPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupedPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetGroupedPoliciesResult" nillable="true" type="q10:ArrayOfGroupPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetHistoryResult" nillable="true" type="q11:ArrayOfHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsureds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuredsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetInsuredsResult" nillable="true" type="q12:ArrayOfInsured" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLimits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLimitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetLimitsResult" nillable="true" type="q13:ArrayOfLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetMonitorsResult" nillable="true" type="q14:ArrayOfMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetNotesResult" nillable="true" type="q15:ArrayOfNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPremium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPremiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetPremiumResult" nillable="true" type="q16:ArrayOfPremium" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetReInsuranceResult" nillable="true" type="q17:ArrayOfReInsurance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRenewalInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRenewalInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetRenewalInformationResult" nillable="true" type="q18:RenewalInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevisions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetRevisionsResult" nillable="true" type="q19:ArrayOfRevision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetStatisticsResult" nillable="true" type="q20:ArrayOfStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUSMs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUSMsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetUSMsResult" nillable="true" type="q21:ArrayOfUSM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVessels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVesselsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetVesselsResult" nillable="true" type="q22:ArrayOfVessel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOldWorkflowHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="polId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOldWorkflowHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" minOccurs="0" name="GetOldWorkflowHistoryResult" nillable="true" type="q23:ArrayOfOldK2WorkflowHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>