Validus.Console/Validus.Console/Service References/PolicyDataService/Validus.Services.DataContract.Subscribe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Subscribe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MonitoredStatistic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Statistic">
        <xs:sequence>
          <xs:element minOccurs="0" name="EstGrossPremiumMktDecln" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstGrossPremiumMktFac" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstNetPremiumMktDecln" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstNetPremiumMktFac" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstPremiumMktDecln" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstPremiumMktFac" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SgndGrossPremium" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SgndNetPremium" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MonitoredStatistic" nillable="true" type="tns:MonitoredStatistic" />
  <xs:complexType name="Statistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApiSyn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossIncLR" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GrossPdLR" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IncClaimsMkt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IncClaimsSyn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Inception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OsClaimsMkt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OsClaimsSyn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PdClaimsMkt" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PdClaimsSyn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiClaimSyn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RiOsClaimSyn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RiPrmSyn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:boolean" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic" nillable="true" type="tns:Statistic" />
  <xs:complexType name="CoverStatistic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Statistic">
        <xs:sequence>
          <xs:element minOccurs="0" name="EstGrossPremiumMkt" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstGrossPremiumMktDecln" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstNetPremiumMkt" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstNetPremiumMktDecln" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstPremiumMkt" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstPremiumMktDecln" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SgndGrossPremium" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SgndNetPremium" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CoverStatistic" nillable="true" type="tns:CoverStatistic" />
  <xs:complexType name="PolicyStatistic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Statistic">
        <xs:sequence>
          <xs:element minOccurs="0" name="EpiSyn" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstGrossPremium" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EstNetPremium" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SgndGrossPremium" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SgndNetPremium" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PolicyStatistic" nillable="true" type="tns:PolicyStatistic" />
  <xs:complexType name="Policy">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcctgYr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkrCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkrCtc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkrGrpCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkrPsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bkrage" type="xs:decimal" />
      <xs:element minOccurs="0" name="COB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CalcLn" type="xs:decimal" />
      <xs:element minOccurs="0" name="CnclDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CnclDys" type="xs:int" />
      <xs:element minOccurs="0" name="Division" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dor" type="xs:int" />
      <xs:element minOccurs="0" name="Dsc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntSt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstSgn" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExpyDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExsAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExsBoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExsCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeoCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncpDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InsdDmcl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsdNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ldr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LdrNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LmtAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="LmtBoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LmtCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mor" type="xs:int" />
      <xs:element minOccurs="0" name="NonLondonBkr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderWhole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigOff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OthDiscPctg" type="xs:decimal" />
      <xs:element minOccurs="0" name="OurLmtAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="OurLmtCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OurShareCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OurShareEpi" type="xs:decimal" />
      <xs:element minOccurs="0" name="PmAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="PmCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolTy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RenewalRate" type="xs:double" />
      <xs:element minOccurs="0" name="SettDueDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SgndLn" type="xs:decimal" />
      <xs:element minOccurs="0" name="SgndOrdPctg" type="xs:decimal" />
      <xs:element minOccurs="0" name="St" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmSt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UMR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uwr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WtnDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WtnLn" type="xs:decimal" />
      <xs:element minOccurs="0" name="WtnOrdPctg" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy" nillable="true" type="tns:Policy" />
  <xs:complexType name="PolicySearchDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerPseudonym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassOfBusiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InceptionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Insured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Leader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverseasOfficeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnderwriterPseudonym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WrittenDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicySearchDetail" nillable="true" type="tns:PolicySearchDetail" />
  <xs:complexType name="ArrayOfPolicySearchDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PolicySearchDetail" nillable="true" type="tns:PolicySearchDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolicySearchDetail" nillable="true" type="tns:ArrayOfPolicySearchDetail" />
  <xs:complexType name="BusinessPlanCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="BPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessPlanCode" nillable="true" type="tns:BusinessPlanCode" />
  <xs:complexType name="ArrayOfAggregate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aggregate" nillable="true" type="tns:Aggregate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAggregate" nillable="true" type="tns:ArrayOfAggregate" />
  <xs:complexType name="Aggregate">
    <xs:sequence>
      <xs:element minOccurs="0" name="COB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domicile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Exposure" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExposureCCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeoLevel" type="xs:int" />
      <xs:element minOccurs="0" name="InceptionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PML" type="xs:decimal" />
      <xs:element minOccurs="0" name="Peril" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aggregate" nillable="true" type="tns:Aggregate" />
  <xs:complexType name="ArrayOfAnlyCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnlyCode" nillable="true" type="tns:AnlyCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnlyCode" nillable="true" type="tns:ArrayOfAnlyCode" />
  <xs:complexType name="AnlyCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnlyCode" nillable="true" type="tns:AnlyCode" />
  <xs:complexType name="ArrayOfClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Claim" nillable="true" type="tns:Claim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaim" nillable="true" type="tns:ArrayOfClaim" />
  <xs:complexType name="Claim">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccYr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BPR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkrCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BprRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DolFr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DolTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Insd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OS" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ptd" type="xs:decimal" />
      <xs:element minOccurs="0" name="RskCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Scc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SynOSAdjd" type="xs:decimal" />
      <xs:element minOccurs="0" name="SynPTDAdjd" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Claim" nillable="true" type="tns:Claim" />
  <xs:complexType name="Construction">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CalcLn" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSUAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="DSUPctg" type="xs:decimal" />
      <xs:element minOccurs="0" name="LatDegrees" type="xs:int" />
      <xs:element minOccurs="0" name="LatMins" type="xs:int" />
      <xs:element minOccurs="0" name="LatSecs" type="xs:decimal" />
      <xs:element minOccurs="0" name="LocNt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongDegrees" type="xs:int" />
      <xs:element minOccurs="0" name="LongMins" type="xs:int" />
      <xs:element minOccurs="0" name="LongSecs" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaintPrd" type="xs:int" />
      <xs:element minOccurs="0" name="OccuDtlsNt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OthNt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="PDPctg" type="xs:decimal" />
      <xs:element minOccurs="0" name="PMLEvtCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PMLEvtDsc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPLAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="TPLPctg" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPsu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Construction" nillable="true" type="tns:Construction" />
  <xs:complexType name="ArrayOfDeduction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Deduction" nillable="true" type="tns:Deduction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeduction" nillable="true" type="tns:ArrayOfDeduction" />
  <xs:complexType name="Deduction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualDedAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="CalcUse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DedAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="DedType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrNet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deduction" nillable="true" type="tns:Deduction" />
  <xs:complexType name="ArrayOfGroupPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupPolicy" nillable="true" type="tns:GroupPolicy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupPolicy" nillable="true" type="tns:ArrayOfGroupPolicy" />
  <xs:complexType name="GroupPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClashAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InceptionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Insured" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit" type="xs:decimal" />
      <xs:element minOccurs="0" name="OtherPolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OurExposure" type="xs:decimal" />
      <xs:element minOccurs="0" name="SCC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupPolicy" nillable="true" type="tns:GroupPolicy" />
  <xs:complexType name="ArrayOfHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="History" nillable="true" type="tns:History" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistory" nillable="true" type="tns:ArrayOfHistory" />
  <xs:complexType name="History">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bkrage" type="xs:decimal" />
      <xs:element minOccurs="0" name="CalcLn" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExsAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExsCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LmtAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="LmtCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PmAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="PmCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SgndLn" type="xs:decimal" />
      <xs:element minOccurs="0" name="WtnLn" type="xs:decimal" />
      <xs:element minOccurs="0" name="WtnOrgPctg" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="History" nillable="true" type="tns:History" />
  <xs:complexType name="ArrayOfInsured">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Insured" nillable="true" type="tns:Insured" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsured" nillable="true" type="tns:ArrayOfInsured" />
  <xs:complexType name="Insured">
    <xs:sequence>
      <xs:element minOccurs="0" name="InsdAKA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsdId" type="xs:int" />
      <xs:element minOccurs="0" name="InsdNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsdSeg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsdTy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstPnt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPsu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Insured" nillable="true" type="tns:Insured" />
  <xs:complexType name="ArrayOfLimit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Limit" nillable="true" type="tns:Limit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLimit" nillable="true" type="tns:ArrayOfLimit" />
  <xs:complexType name="Limit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amt" type="xs:decimal" />
      <xs:element minOccurs="0" name="CCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LmtTy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OS" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROE" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPsu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Limit" nillable="true" type="tns:Limit" />
  <xs:complexType name="ArrayOfMonitor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Monitor" nillable="true" type="tns:Monitor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitor" nillable="true" type="tns:ArrayOfMonitor" />
  <xs:complexType name="Monitor">
    <xs:sequence>
      <xs:element minOccurs="0" name="BinderType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Monitor" nillable="true" type="tns:Monitor" />
  <xs:complexType name="ArrayOfNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Note" nillable="true" type="tns:Note" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNote" nillable="true" type="tns:ArrayOfNote" />
  <xs:complexType name="Note">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
  <xs:complexType name="ArrayOfPremium">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Premium" nillable="true" type="tns:Premium" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPremium" nillable="true" type="tns:ArrayOfPremium" />
  <xs:complexType name="Premium">
    <xs:sequence>
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MktPrm" type="xs:decimal" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OurSharePremium" type="xs:decimal" />
      <xs:element minOccurs="0" name="OurShareSCC" type="xs:decimal" />
      <xs:element minOccurs="0" name="Scc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Premium" nillable="true" type="tns:Premium" />
  <xs:complexType name="ArrayOfReInsurance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReInsurance" nillable="true" type="tns:ReInsurance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReInsurance" nillable="true" type="tns:ArrayOfReInsurance" />
  <xs:complexType name="ReInsurance">
    <xs:sequence>
      <xs:element minOccurs="0" name="CededPctg" type="xs:decimal" />
      <xs:element minOccurs="0" name="CvrnoteNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LmtAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="LmtCCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetCededPctg" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderPctg" type="xs:decimal" />
      <xs:element minOccurs="0" name="PctgOfWhole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiCalc" type="xs:decimal" />
      <xs:element minOccurs="0" name="RiRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TtyPctg" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReInsurance" nillable="true" type="tns:ReInsurance" />
  <xs:complexType name="RenewalInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Current" nillable="true" type="tns:RenewalInformation.CurrentRenewal" />
      <xs:element minOccurs="0" name="HasPrevRenewal" type="xs:boolean" />
      <xs:element minOccurs="0" name="Prev" nillable="true" type="tns:RenewalInformation.OldRenewal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RenewalInformation" nillable="true" type="tns:RenewalInformation" />
  <xs:complexType name="RenewalInformation.CurrentRenewal">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseRenewalRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductibles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exposure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullRenewalRate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RenewalInformation.CurrentRenewal" nillable="true" type="tns:RenewalInformation.CurrentRenewal" />
  <xs:complexType name="RenewalInformation.OldRenewal">
    <xs:sequence>
      <xs:element minOccurs="0" name="BreakEvenIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deductibles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expenses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exposure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inflation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RenewalInformation.OldRenewal" nillable="true" type="tns:RenewalInformation.OldRenewal" />
  <xs:complexType name="ArrayOfRevision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Revision" nillable="true" type="tns:Revision" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRevision" nillable="true" type="tns:ArrayOfRevision" />
  <xs:complexType name="Revision">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Revision" nillable="true" type="tns:Revision" />
  <xs:complexType name="ArrayOfStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statistic" nillable="true" type="tns:Statistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatistic" nillable="true" type="tns:ArrayOfStatistic" />
  <xs:complexType name="ArrayOfUSM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USM" nillable="true" type="tns:USM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSM" nillable="true" type="tns:ArrayOfUSM" />
  <xs:complexType name="USM">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccPrd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccYr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BkrCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkrPsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusCgy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusCgyTy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LpsoDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LpsoNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mrn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROE" type="xs:decimal" />
      <xs:element minOccurs="0" name="RiskCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SgndLn" type="xs:decimal" />
      <xs:element minOccurs="0" name="SgndOrd" type="xs:decimal" />
      <xs:element minOccurs="0" name="TrnTy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USM" nillable="true" type="tns:USM" />
  <xs:complexType name="ArrayOfVessel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vessel" nillable="true" type="tns:Vessel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVessel" nillable="true" type="tns:ArrayOfVessel" />
  <xs:complexType name="Vessel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcqYr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amd" type="xs:decimal" />
      <xs:element minOccurs="0" name="Arr" type="xs:decimal" />
      <xs:element minOccurs="0" name="BowThrr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcyPsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaCdLLP1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CtryBld" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrShNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CvgeAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="DdWtTge" type="xs:int" />
      <xs:element minOccurs="0" name="Ddbl" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExpDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FmaDdWt" type="xs:int" />
      <xs:element minOccurs="0" name="GrTge" type="xs:int" />
      <xs:element minOccurs="0" name="GrtPrm" type="xs:decimal" />
      <xs:element minOccurs="0" name="HullTy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncpDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Itr" type="xs:decimal" />
      <xs:element minOccurs="0" name="NetTge" type="xs:int" />
      <xs:element minOccurs="0" name="NoProp" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PiClub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pm" type="xs:decimal" />
      <xs:element minOccurs="0" name="Pr" type="xs:decimal" />
      <xs:element minOccurs="0" name="Propulsion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" type="xs:decimal" />
      <xs:element minOccurs="0" name="SurveyDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tlr" type="xs:decimal" />
      <xs:element minOccurs="0" name="Uvn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VslTyCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Yrbld" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vessel" nillable="true" type="tns:Vessel" />
  <xs:complexType name="ArrayOfOldK2WorkflowHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OldK2WorkflowHistory" nillable="true" type="tns:OldK2WorkflowHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOldK2WorkflowHistory" nillable="true" type="tns:ArrayOfOldK2WorkflowHistory" />
  <xs:complexType name="OldK2WorkflowHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityInstanceDestinationFinishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActivityInstanceDestinationStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActivityInstanceFinishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActivityInstanceId" type="xs:long" />
      <xs:element minOccurs="0" name="ActivityInstanceStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActivityInstanceStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuredName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverSeasOfficeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessFinishDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProcessInstanceId" type="xs:long" />
      <xs:element minOccurs="0" name="ProcessStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProcessStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskId" type="xs:long" />
      <xs:element minOccurs="0" name="Underwriter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OldK2WorkflowHistory" nillable="true" type="tns:OldK2WorkflowHistory" />
</xs:schema>