Validus.Console/Validus.Console/Service References/BrokerService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrokerServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcpBindingEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrokerService_GetBrokerMeasuresById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerMeasuresById" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetBrokerMeasuresById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerMeasuresByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetBrokerSummaryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerSummaryById" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetBrokerSummaryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerSummaryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_ListBrokerMeasures_InputMessage">
    <wsdl:part name="parameters" element="tns:ListBrokerMeasures" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_ListBrokerMeasures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListBrokerMeasuresResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetBrokerDetailsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerDetailsById" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetBrokerDetailsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetBrokerDevelopmentStatsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerDevelopmentStatsById" />
  </wsdl:message>
  <wsdl:message name="IBrokerService_GetBrokerDevelopmentStatsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBrokerDevelopmentStatsByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IBrokerService">
    <wsdl:operation name="GetBrokerMeasuresById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerMeasuresById" message="tns:IBrokerService_GetBrokerMeasuresById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerMeasuresByIdResponse" message="tns:IBrokerService_GetBrokerMeasuresById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBrokerSummaryById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerSummaryById" message="tns:IBrokerService_GetBrokerSummaryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerSummaryByIdResponse" message="tns:IBrokerService_GetBrokerSummaryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListBrokerMeasures">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/ListBrokerMeasures" message="tns:IBrokerService_ListBrokerMeasures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/ListBrokerMeasuresResponse" message="tns:IBrokerService_ListBrokerMeasures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBrokerDetailsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerDetailsById" message="tns:IBrokerService_GetBrokerDetailsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerDetailsByIdResponse" message="tns:IBrokerService_GetBrokerDetailsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBrokerDevelopmentStatsById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerDevelopmentStatsById" message="tns:IBrokerService_GetBrokerDevelopmentStatsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBrokerService/GetBrokerDevelopmentStatsByIdResponse" message="tns:IBrokerService_GetBrokerDevelopmentStatsById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="netTcpBindingEndpoint" type="tns:IBrokerService">
    <wsp:PolicyReference URI="#netTcpBindingEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetBrokerMeasuresById">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/GetBrokerMeasuresById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrokerSummaryById">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/GetBrokerSummaryById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListBrokerMeasures">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/ListBrokerMeasures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrokerDetailsById">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/GetBrokerDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBrokerDevelopmentStatsById">
      <soap12:operation soapAction="http://tempuri.org/IBrokerService/GetBrokerDevelopmentStatsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrokerServiceImpl">
    <wsdl:port name="netTcpBindingEndpoint" binding="tns:netTcpBindingEndpoint">
      <soap12:address location="net.tcp://webservices.talbotdev.com:6868/WCF/BrokerService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://webservices.talbotdev.com:6868/WCF/BrokerService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>HOST/VALIDUSWCF</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>