Validus.Console/Validus.Console/Service References/BrokerService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" />
  <xs:element name="GetBrokerMeasuresById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brokerCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerMeasuresByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" minOccurs="0" name="GetBrokerMeasuresByIdResult" nillable="true" type="q1:BrokerMeasures" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerSummaryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brokerCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerSummaryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" minOccurs="0" name="GetBrokerSummaryByIdResult" nillable="true" type="q2:BrokerSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBrokerMeasures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListBrokerMeasuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" minOccurs="0" name="ListBrokerMeasuresResult" nillable="true" type="q3:ArrayOfBrokerMeasures" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerDetailsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brokerCd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerDetailsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" minOccurs="0" name="GetBrokerDetailsByIdResult" nillable="true" type="q4:ArrayOfBrokerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerDevelopmentStatsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brokerCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cobs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrokerDevelopmentStatsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" minOccurs="0" name="GetBrokerDevelopmentStatsByIdResult" nillable="true" type="q5:ArrayOfBrokerDevelopmentStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>