Validus.Console/Validus.Console/Service References/BrokerService/Validus.Services.DataContract.ASWarehouse1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BrokerMeasures">
    <xs:sequence>
      <xs:element minOccurs="0" name="Broker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrossIncurredLossRatio" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GrossSyndicateEPI" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SyndicateEPI" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="USMPremium" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerMeasures" nillable="true" type="tns:BrokerMeasures" />
  <xs:complexType name="BrokerSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Broker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrokerScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditLimit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerSummary" nillable="true" type="tns:BrokerSummary" />
  <xs:complexType name="ArrayOfBrokerMeasures">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerMeasures" nillable="true" type="tns:BrokerMeasures" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokerMeasures" nillable="true" type="tns:ArrayOfBrokerMeasures" />
  <xs:complexType name="ArrayOfBrokerDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerDetails" nillable="true" type="tns:BrokerDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokerDetails" nillable="true" type="tns:ArrayOfBrokerDetails" />
  <xs:complexType name="BrokerDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Broker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentQuarter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrossIncurredClaims" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GrossIncurredLossRatio" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GrossSyndicateEPI" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="NewClaimCount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SyndicateEPI" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TechnicalPremium" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="USMPremium" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerDetails" nillable="true" type="tns:BrokerDetails" />
  <xs:complexType name="ArrayOfBrokerDevelopmentStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerDevelopmentStatistic" nillable="true" type="tns:BrokerDevelopmentStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokerDevelopmentStatistic" nillable="true" type="tns:ArrayOfBrokerDevelopmentStatistic" />
  <xs:complexType name="BrokerDevelopmentStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Broker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentQuarter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrossIncurredClaims" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GrossIncurredLossRatio" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GrossSyndicateEPI" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LossRatio" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="NewClaimCount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SyndicateEPI" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SyndicateGrossOutstandingClaim" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SyndicateGrossPaidClaim" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TechnicalPremium" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="USMPremium" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerDevelopmentStatistic" nillable="true" type="tns:BrokerDevelopmentStatistic" />
</xs:schema>