Validus.Console/Validus.Console/Service References/VersionService/Validus.Services.DataContract.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Versions">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessLogicVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAccessVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataContractVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WCFVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Versions" nillable="true" type="tns:Versions" />
</xs:schema>