Validus.Console/Validus.Console/Service References/SubscribeService/Subcribe.Services.BusinessLogic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Subcribe.Services.BusinessLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Subcribe.Services.BusinessLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InfoCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewFacyPolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsrNm" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoCollection" nillable="true" type="tns:InfoCollection" />
</xs:schema>