Validus.Console/Validus.Console/Service References/SubscribeService/Subscribe.Service.DataContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Subscribe.Service.DataContract" elementFormDefault="qualified" targetNamespace="Subscribe.Service.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PolicyContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Policy">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PolicyContract" nillable="true" type="tns:PolicyContract" />
  <xs:complexType name="Policy">
    <xs:sequence>
      <xs:element name="UnitPsu" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="PolTy" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="EntSt" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="InsdNm" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="InsdId" type="xs:int" />
      <xs:element minOccurs="0" name="PolDsc" nillable="true" type="xs:string" />
      <xs:element name="Uwr" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="DOM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BkrSeqId" type="xs:int" />
      <xs:element minOccurs="0" name="CtcNm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncpDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpyDt" nillable="true" type="xs:string" />
      <xs:element name="AccYr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettDueDt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brokerage" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DeclineReason" nillable="true" type="xs:string" />
      <xs:element name="COB" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="MOA" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NonLonBkr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigOff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacyPolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RenPolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LmtCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LmtAmt" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ExsCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExsAmt" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BindSt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PctgAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PricingCcy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechPrm" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BenchPrm" nillable="true" type="xs:decimal">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BkrPsu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkrNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechPmTy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Policy" nillable="true" type="tns:Policy" />
</xs:schema>