Validus.Console/Validus.Console/Service References/InsuredService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InsuredServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcpBindingEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Validus.Services.DataContract.ASWarehouse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInsuredService_ListInsuredMeasures_InputMessage">
    <wsdl:part name="parameters" element="tns:ListInsuredMeasures" />
  </wsdl:message>
  <wsdl:message name="IInsuredService_ListInsuredMeasures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListInsuredMeasuresResponse" />
  </wsdl:message>
  <wsdl:message name="IInsuredService_GetInsuredMeasuresById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuredMeasuresById" />
  </wsdl:message>
  <wsdl:message name="IInsuredService_GetInsuredMeasuresById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuredMeasuresByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IInsuredService_GetInsuredDetailsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuredDetailsByName" />
  </wsdl:message>
  <wsdl:message name="IInsuredService_GetInsuredDetailsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuredDetailsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IInsuredService_GetInsuredDetailsByNameAndCobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuredDetailsByNameAndCobs" />
  </wsdl:message>
  <wsdl:message name="IInsuredService_GetInsuredDetailsByNameAndCobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuredDetailsByNameAndCobsResponse" />
  </wsdl:message>
  <wsdl:portType name="IInsuredService">
    <wsdl:operation name="ListInsuredMeasures">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsuredService/ListInsuredMeasures" message="tns:IInsuredService_ListInsuredMeasures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsuredService/ListInsuredMeasuresResponse" message="tns:IInsuredService_ListInsuredMeasures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsuredMeasuresById">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsuredService/GetInsuredMeasuresById" message="tns:IInsuredService_GetInsuredMeasuresById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsuredService/GetInsuredMeasuresByIdResponse" message="tns:IInsuredService_GetInsuredMeasuresById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsuredDetailsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsuredService/GetInsuredDetailsByName" message="tns:IInsuredService_GetInsuredDetailsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsuredService/GetInsuredDetailsByNameResponse" message="tns:IInsuredService_GetInsuredDetailsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsuredDetailsByNameAndCobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsuredService/GetInsuredDetailsByNameAndCobs" message="tns:IInsuredService_GetInsuredDetailsByNameAndCobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsuredService/GetInsuredDetailsByNameAndCobsResponse" message="tns:IInsuredService_GetInsuredDetailsByNameAndCobs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="netTcpBindingEndpoint" type="tns:IInsuredService">
    <wsp:PolicyReference URI="#netTcpBindingEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ListInsuredMeasures">
      <soap12:operation soapAction="http://tempuri.org/IInsuredService/ListInsuredMeasures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuredMeasuresById">
      <soap12:operation soapAction="http://tempuri.org/IInsuredService/GetInsuredMeasuresById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuredDetailsByName">
      <soap12:operation soapAction="http://tempuri.org/IInsuredService/GetInsuredDetailsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuredDetailsByNameAndCobs">
      <soap12:operation soapAction="http://tempuri.org/IInsuredService/GetInsuredDetailsByNameAndCobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsuredServiceImpl">
    <wsdl:port name="netTcpBindingEndpoint" binding="tns:netTcpBindingEndpoint">
      <soap12:address location="net.tcp://webservices.talbotdev.com:6868/WCF/InsuredService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://webservices.talbotdev.com:6868/WCF/InsuredService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>HOST/VALIDUSWCF</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>